
.course-card {
    display: flex;
    margin: auto;
    padding: 2em;
    width: 90%;
    height: 10em;
    margin-bottom: 2em;
    border-bottom: solid;
    border-color: rgb(218, 217, 217);
    border-width: 2px;
 
}

.course-card h1 {
    font-weight: 700;
 
}

.course-card p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: x-large;
    font-weight: 600;
    color:rgb(95, 95, 95);
}

.register-button {
    margin: auto;
    margin-right: 5%;
}

.register-button a{
        border-style: solid;
        border-width: 1px;
        border-color: rgb(224, 224, 224);
        border-radius: .75em;
        color:rgb(95, 95, 95);
        padding: .5em 1em .5em 1em;
        font-weight: 700;
        font-size: x-large;
        text-decoration: none;
  
}

#registered {
    background-color: rgb(184, 184, 184);
    color:rgb(95, 95, 95);
}
